h3{
    margin-top: 100px;
    color:#5e068a;
    font-size: 32px;
}
#learn{
    margin-top: 15px;
}
.color{
    color: #5e068a99;
}
p{
    line-height: 1.8;

}
body{
   font-style: normal;
   font-size: 16px;
   color: #414141;
}
.orange-color{
    color: #5e068a99;
}
#para2{
   
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    width: 100%;
    color:#5e068a


}
