h1{
    font-family: 'Ranchers', cursive;
    text-align: center;
    

}
#table{
  
    margin-left: 25%;
}
    
td{
    border-style: solid;
    width: 200px;
    height: 200px;
    padding: 10px;
   
    
}
#one{
    background-color: blue;
}
#two{
    background-color: coral;
}
#three
{
    background-color: darkgreen;
}
#four{
    background-color: darkorange;
}
#five{
    background-color: darkred;
}